<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <title>{% block title %}{% endblock %} - viktorīna</title>
    {% endblock %}
    <style type="text/css">
        body {
            width: 800px;
            margin: 50px auto;
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
<div id="content" class="px-4 py-5 my-5 text-center">{% block content %}{% endblock %}</div>



</body>
<script src="js/bootstrap.bundle.min.js"></script>
</html>