{% extends "layouts/base.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ parent() }}

{% endblock %}
{% block content %}

    <h1>Kļūda! Ir nepieciešams ievadīt savu vārdu!</h1>

    <a class="btn-primary btn" href="/">Doties uz sākuma lapu</a>



{% endblock %}